Importing all libraries I will need for this project

In [2]:
import pandas as pd
import numpy as np

print('Libraries imported.')

Libraries imported.

Reading Wikipedia file to dataframe

In [3]:
toronto_df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Data wrangling: drop rows where Borough & Neighbourhood are not assigned

In [4]:
drop_values = toronto_df[ (toronto_df['Borough'] == 'Not assigned') & (toronto_df['Neighbourhood'] == 'Not assigned') ].index
 
toronto_df.drop(drop_values , inplace=True)
toronto_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Merge rows which have same Postcode

In [5]:
merged_toronto=toronto_df.groupby(['Postcode','Borough'],as_index=False, sort=False).agg(','.join)
merged_toronto['Neighbourhood']=set(merged_toronto['Neighbourhood'])
merged_toronto.head()

  Postcode           Borough            Neighbourhood
0      M3A        North York                 Roselawn
1      M4A        North York             East Toronto
2      M5A  Downtown Toronto        Downsview Central
3      M6A        North York  Little Portugal,Trinity
4      M7A      Queen's Park      Downsview Northwest

For rows which have Borough, but Neighbourhood is not assigned, copy name of Borough to Neighbourhood

In [6]:
merged_toronto['Neighbourhood']=merged_toronto['Neighbourhood'].replace('Not assigned', merged_toronto['Borough'])
merged_toronto.head()

  Postcode           Borough            Neighbourhood
0      M3A        North York                 Roselawn
1      M4A        North York             East Toronto
2      M5A  Downtown Toronto        Downsview Central
3      M6A        North York  Little Portugal,Trinity
4      M7A      Queen's Park      Downsview Northwest

In [7]:
merged_toronto.shape

(103, 3)