Importing all libraries I will need for this project

In [5]:
import pandas as pd
import numpy as np

print('Libraries imported.')

Libraries imported.

Reading csv file with coordinates file to dataframe

In [9]:
toronto_lonlat=pd.read_csv("https://cocl.us/Geospatial_data")
toronto_lonlat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
toronto_lonlat.shape

(103, 3)

In [11]:
# Renaming column Postal Code to Postcode to match other table
toronto_lonlat.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
toronto_lonlat.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Repeating all the steps for Toronto table with Boroughs & Neighbourhoods I did for previous excercise

In [7]:
# Reading Wikipedia file to dataframe
toronto_df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

# Dropping rows where Borough and Neighbourhood are not assigned
drop_values = toronto_df[ (toronto_df['Borough'] == 'Not assigned') & (toronto_df['Neighbourhood'] == 'Not assigned') ].index
toronto_df.drop(drop_values , inplace=True)

# Merging rows with the same Postcode
merged_toronto=toronto_df.groupby(['Postcode','Borough'],as_index=False, sort=False).agg(','.join)
merged_toronto['Neighbourhood']=set(merged_toronto['Neighbourhood'])

# Copying Borough names to Neighbourhoods which are not assigned
merged_toronto['Neighbourhood']=merged_toronto['Neighbourhood'].replace('Not assigned', merged_toronto['Borough'])
merged_toronto.head()

  Postcode           Borough                               Neighbourhood
0      M3A        North York     Design Exchange,Toronto Dominion Centre
1      M4A        North York                  CFB Toronto,Downsview East
2      M5A  Downtown Toronto               Clairlea,Golden Mile,Oakridge
3      M6A        North York                  Moore Park,Summerhill East
4      M7A      Queen's Park  Humber Bay Shores,Mimico South,New Toronto

In [8]:
merged_toronto.shape

(103, 3)

Two tables have same shapes, we will create new merged table with 5 columns

In [13]:
new_toronto = pd.merge(merged_toronto, toronto_lonlat)
new_toronto.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,"Design Exchange,Toronto Dominion Centre",43.753259,-79.329656
1,M4A,North York,"CFB Toronto,Downsview East",43.725882,-79.315572
2,M5A,Downtown Toronto,"Clairlea,Golden Mile,Oakridge",43.654260,-79.360636
3,M6A,North York,"Moore Park,Summerhill East",43.718518,-79.464763
4,M7A,Queen's Park,"Humber Bay Shores,Mimico South,New Toronto",43.662301,-79.389494

In [14]:
new_toronto.shape

(103, 5)